body{
  margin:0;
  font-family:sans-serif;
  background:#0a0a0f;
  color:#fff;
}

/* APP */
.app{
  max-width:900px;
  margin:auto;
  padding:15px;
}

/* HEADER */
.header{
  text-align:center;
  margin-bottom:15px;
}

.title{
  font-size:22px;
  font-weight:bold;
  color:#ffb300;
}

.sub{
  font-size:12px;
  color:#aaa;
  margin-top:5px;
}

/* CARD */
.card{
  background:#111;
  border:1px solid #222;
  border-radius:14px;
  padding:15px;
  margin-bottom:15px;
}

/* ADMIN */
.admin-title{
  color:#ffb300;
  font-weight:bold;
  margin-bottom:10px;
}

.admin-box{
  display:flex;
  gap:10px;
}

.admin-box input{
  flex:1;
  padding:10px;
  border:none;
  border-radius:8px;
  background:#1a1a1a;
  color:#fff;
}

.admin-box button{
  background:#ffb300;
  border:none;
  padding:10px 15px;
  border-radius:8px;
  font-weight:bold;
}

/* STATUS */
.status{
  margin-top:10px;
  font-size:13px;
  color:#aaa;
}

/* TABLE */
.table{
  padding:0;
  overflow:hidden;
}

/* ROW */
.row{
  display:grid;
  grid-template-columns:50px 1fr 45px 45px 45px 66px 4px;
  padding:12px;
  border-bottom:1px solid #1c1c1c;
  align-items:center;
  font-size:13px;
}

/* HEADER ROW */
.head{
  background:#151515;
  color:#ffb300;
  font-weight:bold;
  border-bottom:2px solid #ffb300;
}

/* RANK */
.rank{
  width:26px;
  height:26px;
  background:linear-gradient(180deg,#ffcc33,#ff9900);
  color:#000;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:6px;
  font-weight:bold;
  box-shadow:0 0 10px rgba(255,180,0,0.4);
}

/* TEAM CELL */
.team{
  display:flex;
  flex-direction:column;
}

.teamRow small{
  display:block;
  font-size:12px;
  color:#8a8a8a;
  margin-top:2px;
}

/* POINTS */
.points{
  color:#ffb300;
  font-weight:bold;
}

/* FOOTER */
.footer{
  display:flex;
  justify-content:center;
  gap:8px;
  font-size:11px;
  color:#888;
  align-items:center;
}

.dot{
  width:6px;
  height:6px;
  background:lime;
  border-radius:50%;
}
.teamRow{
  display:flex;
  align-items:center;
  gap:14px;
}

.logoBox{
  width:55px;
  display:flex;
  justify-content:center;
  align-items:center;
}


/* default */
.teamRow img{
  object-fit:contain;
  background:transparent;
  border:none;
  border-radius:0;
}

/* each team custom size */

.KKR{
  width:700px;
  height:55px;
}

.CSK{
  width:44px;
  height:44px;
}

.SRH{
  width:55px;
  height:55px;
}

.RCB{
  width:63px;
  height:63px;
}

.MI{
  width:57px;
  height:57px;
}

.RR{
  width:52px;
  height:52px;
}

.PBKS{
  width:50px;
  height:50px;
}

.DC{
  width:68px;
  height:68px;
}

.teamRow small{
  display:block;
  font-size:6px;
  color:#888;
}
.footer{
  display:flex;
  justify-content:center;
  gap:8px;
  font-size:11px;
  color:#888;
  margin-top:15px;
  align-items:center;
}

.dot{
  width:6px;
  height:6px;
  background:lime;
  border-radius:50%;
}